--extra-index-url https://download.pytorch.org/whl/cu126

torch==2.8.0+cu126 ; platform_system == "Windows"
torch==2.8.0 ; platform_system != "Windows"
scikit-learn
pandas
matplotlib
rtdl_revisiting_models
torchmetrics
ipykernel
tensorboardX
tensorboard
tqdm
lightning
optuna
optuna-integration[pytorch_lightning]
importlib
onnx
onnxscript